@charset "utf-8";

#tag-input{
    margin-bottom: 50px;
}

th,td{
    background-color: #E0FFFF;
    margin-top: 10px;
    padding: 10px;
}
th{
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
td{
    text-align: right;
}
/* tr{
    
} */

h1{
    text-align: center;
    color: white;
}

input{
    display: block;
}

.center{
    padding: 3%;
    /* padding-left: 5%; */
    background: #E0FFFF;
    margin: 0 auto;
    width: 30%;
}
table{
    padding: 3%;
    /* padding-left: 5%; */
    /* background: #E0FFFF; */
    margin: 0 auto;
    margin-top: 1px;
    width: 40%;
    /* border-collapse:collapse; */
    border-spacing: 0px 10px;
}

/* ボタン */
#savebutton{
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: #96b97d; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}
#removeBtn{
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: #B1063A; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}

table button{
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: #B1063A; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}
/* 背景 */
body{
    background-image: url(memo_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.countFg{
    color: #ff0000;
}
.count{
    margin-left: 70%;
    margin-top: 2px;
}